{%extends 'base.template.html'%}
{%load static%}

{%block content %}
<div class="container-fluid">
		<div class="row">
			<table id="cartitem" class="table table-hover table-condensed">
				<thead>
					<tr>
						<th style="width:50%">Product</th>
						<th style="width:10%">Price</th>
						<th style="width:8%">Quantity</th>
						<th style="width:22%" class="text-center">Subtotal</th>
						<th style="width:10%"></th>
					</tr>
				</thead>
                {% if cart.items %}
                {%else%}
                <tbody>
					<tr>
						<td data-th="Product">
							<div class="row">
						 <h3 lead class="mb-5"> Your bag is empty</h3>
                         </div>
                         </td>	
					</tr>
				</tbody>
                   
                {%endif%}
            
				<tfoot>
            
					<tr>
						<td><a href="{% url 'show_allproduct_route'%}" class="btn btn-info"><i class="fa fa-angle-left"></i> Continue
								Shopping</a></td>
						<td colspan="2" class="hidden-xs"></td>
                        <td class="hidden-xs text-center"><strong>Total</strong></td>
                        {% if cart.items %}
						<td><a href="{% url 'checkout'%}" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a>
                        </td>
                        {%else%}
                        <td><a href="{% url 'show_cart_route'%}" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a>
                        {%endif%}
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>


{%endblock%}