body{
    background-color: rgb(220,220,220);
}

.thumbnail img {
    height:290px;
    width:100%;
}

.card{
    margin:30px;

}

.page-footer{
    background-color:#858679;
    color:black;
}

#last-footer{
    background-color:#797a6f;
    margin-bottom:20px;
}

a{
    color:black;
}