html{
    height:100%;
}

body{
    background-color: rgb(220,220,220);
    
}

.icon{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height:1.45rem;
    width:1.45rem;
}

.thumbnail img {
    height:290px;
    width:100%;
}

.card{
    margin:30px;

}

.page-footer{
    background-color:#858679;
    color:black;
}

#last-footer{
    background-color:#797a6f;
    margin-bottom:20px;
}

a{
    color:black;
}

#bringmetotop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 25px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    border: none; 
    outline: none; 
    background-color:black; 
    color: yellow; 
    cursor: pointer; 
    outline: :none; 
    border-radius: 50%; 
  
}

#bringmetotop:hover {
    background-color:white;
    color:black; 
}

@media screen and (max-width: 992px) {
    table#cartitem tbody td .form-control{
		display: inline !important;
	}
	.actions .btn{
		width:37%;
		margin:1.5em 0;
	}
	
	.actions .btn-danger{
        width:100%;
	}
	
	table#cartitem thead { display: none; }
	table#cartitem tbody td { display: block; padding: .5rem; min-width:310px;}
	table#cartitem tbody tr td:first-child { background: rgb(235, 234, 234); color: rgb(37, 36, 36); }
	table#cartitem tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cartitem tfoot td{display:block; }
	table#cartitem tfoot td .btn{display:block;}
	
}