{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}"/>
</head>
<body>
    <h1>Welcome {{request.user}}</h1>
    <p>
    {%for product in product%}
        <li>{{product.name}}
        {{product.price}}
        {{product.description}}
        {{product.size}}
        {{product.color}}
        {{product.date}}
        <a href="{% url 'update_product_route' product_id=product.id %}">Edit</a>
        <a href="{% url 'delete_product_route' product_id=product.id %}">delete</a>
        </li>
        {%endfor%}
    </p>
</body>
</html>