{%extends 'base.template.html' %}
{%load static%}
{%block content%}

 <h1>Welcome {{request.user}} here</h1>
    <ul>
    {%for product in product%}
        <li>{{product.name}}
        {{product.price}}
        {{product.description}}
        {{product.size}}
        {{product.color}}
        {{product.date}}
        <a href="{% url 'update_product_route' product_id=product.id %}">Edit</a>
        <a href="{% url 'delete_product_route' product_id=product.id %}">delete</a>
        {%if product.image%}
        <img src="{{product.image.cdn_url}}"/>
        {%endif%}
        </li>
        {%endfor%}
    </ul>
{%endblock%}