{%extends 'base.template.html' %}
{%load crispy_forms_tags %}

{%block content%}
<div class="card text-center image-size">
	<div class="row">
		<div class="col-md-4">
			{%if product.image%}
			<img src="{{product.image.cdn_url}}"/>
        {%endif%}
        </div>
			<div class="col-md-8">
				<div class="card-body">
					<h1 class="card-title">{{product.name}}</h1>
					<p class="card-text">Price: {{product.price}}</p>
                    <div class="container">
                    <label>Description:</label>
					<p class="card-text">{{product.description}}</p>
                    </div>
                    <div class="card-body">
                    <label for="sizes">Choose your Size:</label>
                    <select id="sizes">
                    {%for s in product.sizes.all%}
                        <option value="{{s}}">{{s}}</option>
                    {%endfor%}
                    </select>
                    </div>
					<p class="card-text"> Size: {{product.size}}</p>
				</div>
				<div>
					<a class="btn btn-outline-primary active"
						href="{% url 'add_to_cart_route' product_id=product.id %}">Add to cart</a>
				</div>
                <br>
				<div>
					<a class="btn btn-outline-danger active" href="{% url 'show_allproduct_route'%}">Back to Product</a>
				</div>
			</div>
		</div>
	</div>

	<form method="POST" action="{% url 'create_review_route' product_id=product.id %}">
		{% csrf_token %}
		{{ form|crispy}}
		<input type="submit"/>
</form>


		{%endblock%}