{%load staticfiles%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block corecss%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    {%endblock%}
    <!--Navbar start-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="{% url 'show_product_route'%}">
			<img src="/static/image/sgwlogo.jpg" width = "55" alt="" class="d-inline-block align-middle mr-2"/>
        </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="nav-link" href="/"><b>Home</b> <span class="sr-only">(current)</span></a>
					</li>
                    
                {% if request.user.is_staff %}
                     <li class="nav-item active">
						<a class="nav-link" href="{%url 'show_allproduct_route'%}"><b>Products</b></a>
					</li>
                     <li class="nav-item active">
						<a class="nav-link" href="{% url 'create_product_route'%}"><b>Create Listing</b></a>
					</li>
                    <li class="nav-item active">
						<a class="nav-link" href="{%url 'show_reviews_route' %}"><i class="fas fa-shopping-cart"></i><b>Reviews</b></a>
					</li>
                
                {%elif request.user.is_authenticated %}
                    <li class="nav-item active">
						<a class="nav-link" href="{%url 'show_allproduct_route'%}"><b>Products</b></a>
					</li>
                    <li class="nav-item active">
						<a class="nav-link" href="{%url 'show_reviews_route' %}"><b>Reviews</b></a>
					</li>
					
                  {%else%}
                   <li class="nav-item active">
						<a class="nav-link" href="{%url 'show_allproduct_route'%}"><b>Products</b></a>
					</li>
                    <li class="nav-item active">
						<a class="nav-link" href="{%url 'show_reviews_route' %}"><b>Reviews</b></a>
					</li>
			
                {%endif%}
				</ul>
                 <form method="GET" action="{%url 'show_allproduct_route'%}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="name" placeholder="Search By Name">
                    <div class="input-group-append">
                    <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                    </button>
                    </div>
                </div>

            </form>
                <ul class="navbar-nav ml-auto">
                {% if request.user.is_staff %}
                    <li class="nav-item active">
						<a class="nav-link" href="{%url 'account_logout' %}"><b>Logout</b></a>
					</li>
                    <li class="nav-item active">
						<a class="nav-link" href="{%url 'show_cart_route' %}"><i class="fas fa-shopping-cart"></i><b>Cart</b></a>
					</li>
                {%elif request.user.is_authenticated %}
                     <li class="nav-item active">
						<a class="nav-link" href="{%url 'account_logout' %}"><b>Logout</b></a>
					</li>
                    <li class="nav-item active">
						<a class="nav-link" href="{%url 'show_cart_route' %}"><i class="fas fa-shopping-cart"></i><b>Cart</b></a>
					</li>
					
                  {%else%}
                    <div class="arrow-up"></div>
                    <li class="nav-item active">
						<a class="nav-link" href="{%url 'account_login' %}"><b>Login</b></a>
					</li>
                    <div class="arrow-up"></div>
                    <div class="login-form"></div>
                    <li class="nav-item active">
						<a class="nav-link" href="{%url 'account_signup' %}"><b>Sign Up</b></a>
					</li>
                    <li class="nav-item active">
						<a class="nav-link" href="{%url 'show_cart_route' %}"><i class="fas fa-shopping-cart"></i><b>Cart</b></a>
					</li>
                {%endif%}
                </ul>
           
                
			</div>
 
	</nav>
	<!--Navbar End-->
    {%block head%}{%endblock%}
    
    <title>{%block title%}{%endblock%}</title>
  </head>
  <body>
    {%if messages %}
    {%for message in messages%}
        <div class="alert alert-success">{{message}}</div>
    {%endfor%}
    {%endif%}
  
    <div class="container-fluid">
    {%block content%}{%endblock%}
    </div>

    <!--Start Of Footer-->
	<footer>
		<div class="container">
			<div class="page-footer font-small black pt-4 mt-5">

				<!-- Footer Links -->
				<div class="container-fluid text-center text-md-left">

					<!-- Grid row -->
					<div class="row">

						<!-- Grid column -->
						<div class="col-md-6 mt-md-0 mt-3">

							<!-- Content -->
							<h5 class="text-uppercase"><b>Subscribe to us for latest update:</b></h5>
							<div class="form-group">
								<input type="email" class="form-control" id="email" placeholder="Enter email:">
                </div>

							</div>


							<!-- Grid column -->

							<div class="col-md-6 mb-md-0 mb-6">
								<h5><b>Follow us:</b></h5>
								<div class="row">
									<div class="col">
										<a
											href="https://www.facebook.com/Sneak-Gateway-Shop-110418183924731/"><i class="fab fa-facebook-square fa-3x" aria-hidden="true"></i></a>
										<a
											href="https://www.instagram.com/hiddensneak/"><i class="fab fa-instagram fa-3x" aria-hidden="true"></i></a>
									</div>
								</div>



							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="container">
				<div class="container-fluid" id="last-footer">
					<div class="row">
						<div class="col-md text-center">
							<a href="{% url 'show_product_route'%}">Home</a>
						</div>
					</div>
				</div>
			</div>
	</footer>


    {%block js%}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {%endblock%}
  </body>
</html>